<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%highlight(%n)</pattern>
            <pattern>
                %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %highlight(%msg){FATAL=red, ERROR=red, WARN=yellow, INFO=green, DEBUG=cyan, TRACE=magenta}%n
            </pattern>
        </encoder>
    </appender>
    <root level="debug">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>